main {
    width: 90%;
    margin: auto;
}
main img {
    margin: 2rem auto 1rem auto;
    padding: 1rem;
}
h1 {
    font-size: 3.2rem;
}
h1 > a {
    color: #606c76 !important;
}
footer {
    text-align: center;
}
a,
a:hover,
a:visited {
    color: #cd841f;
}
.container {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.container.wide {
    max-width: none;
}
.column-25 {
    max-width: 100% !important;
}
.column-25 > img {
    margin-bottom: 2rem;
}
.column-75 {
    text-align: left;
    max-width: 100% !important;
}
.row {
    margin-bottom: 2rem;
}
.row-section {
    background-color: #eee;
    margin-top: -3rem;
}
.row-section > h4 {
    position: relative;
    top: 1rem;
    left: 1rem;
}
.u {
    text-decoration: underline;
}
.masthead {
    padding: 2rem 1rem 0rem 1rem;
    text-align: center;
}
.row-heading {
    margin-top: 8rem;
    font-size: 3.6rem;
    color: #cd841f;
}
.first {
    margin-top: 1rem;
}
.center {
    text-align: center;
    background-color: #eee;
}
.editor-box {
    border: 2px dashed #cd841f;
    padding: 0 1.6rem 0 1.6rem;
    margin-top: 8rem;
}
.editor-box h4 {
    font-size: 2.6rem;
    font-style: italic;
}
.editor-box p {
    font-size: 1.4rem;
}
.rotate {
    transform: rotate(-180deg);
}
@media (min-width: 40.0rem) {
    .newsletter {
        width: 25%;
    }
}
@media (min-width: 80.0rem) {
    .container {
        width: 100%;
    }
    .column-25 {
        max-width: 25%;
    }
    .column-75 {
        max-width: 75%;
    }
    main {
        width: 50%;
    }
}
